* {
    margin: 0;
    padding: 0;
}

body {
    width: 80;
    background-color: whitesmoke;
}

header {
    width: 100%;
}

header h1 {
    margin: 1rem 1rem 1rem 1rem;
    width: 100%;
    text-align: start;

}

header dt {
    color: white;
    background-color: chocolate;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

header dd {
    font-size: 21px;
}

.title {
    width: 100%;
}


.title dt,
dd {
    width: 100%;
    margin-top: 1rem;
    text-align: center;

}

nav {
    display:flex;
    position: absolute;
    top: 1%;
    left: 50%;
}

nav a {
    text-align: center;
    background-color:chocolate;
    font-family: sans-serif;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 0.3rem 0 0 0.3rem;
    border-radius: 1rem;

}


a:hover {
    transform: scale(1.1) skew(20deg);
}


#button {
    background-color: rgb(29, 117, 115);
}

main {
    display: flex;
    flex-direction: column;
}

.box-one {
    background-color: rgb(241, 211, 189);
    border-radius: 30px;
    padding: 5%;
    margin: 2% 2% 2% 2%;
}

.box-one dd,
dt {
    font-size: 20px;
}

.box-two {
    background-color: rgb(241, 211, 189);
    border-radius: 30px;
    padding: 5%;
    margin: 2% 2% 2% 2%;
}

.box-two h1 {
    font-size: 20px;
}

.box-two h1,
li,
h3 {
    font-size: 20px;
}

.box-tree {
    background-color: bisque;
    border-radius: 30px;
    padding: 5%;
    margin: 2% 2% 2% 2%;

}

.box-tree dd,
dt {
    font-size: 20px;
}

dt {
    font-weight: bold;
}

.box-tree dd {
    padding-right: 1rem;
    text-align: start;
}

.box-tree li {
    list-style-type: circle;
}